#one{
    font-size:50px;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#two{
    img{
        width:80px;
        margin-right:30px;
    }
}
center{
    font{
        font-size:30px;
        color:blue;
    }
}
#end{
    font-size:20px;
    color:red;
}
.hrr{
    align-items: center;
    width:40%;
    height:3px;
    background-color    : chartreuse;
}