#one{
        font-size:50px;
        font-family: "Matemasie", sans-serif;
        font-weight: 400;
    }
#two{
    img{
        width:80px;
        margin-right:30px;
    }
}
.divs{
    text-align:center;
    display:inline-block;
    margin:3px;
    img{
        height:180px;
        width:155px;
    }
    font{
        font-size:15px;
        color:forestgreen
    }
}